body {
  background: whitesmoke;
}

body.dark {
  background: black;
}

.ant-card {
  margin: 10px;
}

.ant-form-item:last-child {
  margin-bottom: 0;
}

.ant-list-item {
  cursor: pointer;
}

.question {
  font-family: SimSum, STSong, serif;
  font-size: 16px;
  word-break: break-all;
}

.question img {
  max-height: 100%;
  max-width: 100%;
}

.dark .question img {
  filter: invert();
}
